<!--/ Header end -->
<div id="banner-area" class="banner-area" style="background-image:url(assets/images/yo.JPG)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Our Team</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Staff</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  
  <section id="main-container" class="main-container pb-4">
    <div class="container">
     
      <!--/ Title row end -->
  
      <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <h3 class="column-title " style="    color: #cca351;
              font-weight: bold;"><strong style="    color: #24b0ed;
                  font-weight: bold;">The <strong  style="    color: #cca351;
              font-weight: bold;">Registrar</strong></strong></h3>
 <p class="text-justify" style="font-size: medium;">The Registrar, Professor Thomas Bhebhe holds a D.Phil (Malaysia), MSc in Leadership & Change Management (Leeds, UK); M.Ed Admin (UZ); HRM (National University of Singapore), B.Ed Admin(UZ), Post-grad Certificate in Higher Education Management (Wits University, SA); Cert. in Human Resources Management (Israel), CE (UZ); FIPMZ 

                        
  Prof. Bhebhe is a refined scholar and researcher in his own right having won the Academic Excellence Award for his D.Phil. Prof. Bhebhe has amassed vast international exposure in Higher Education having travelled to various parts of the world to study University academic and human resources management practices at such prestigious institutions as Glasgow University, Strathclyde University, Glasgow Caledonian University in Scotland, Newcastle University and Northumbria University in England; Kwameh Nkrumah University of Science and Technology in Ghana, the National University of Singapore, Queensland University of Technology in Australia, Michigan State University, University of Colarado and New York University in the USA, Witwatersrand, KwaZulu Natal, Tshwane and the University of Venda in South Africa among others. This gives him the much needed cutting-edge experience in handling complex administrative matters of a modern university such as CUT. 
  
</p>            
              
            </div><!-- Col end -->
    
            <div class="col-lg-6 mt-5 mt-lg-0">
              
              <div id="page-slider" class="page-slider small-bg">
    
                  <div class="item" style="background-image:url(assets/images/tt.png);height: 330px;width: 555px;">
                    <div class="container">
                        <div class="box-slider-content">
                            
                        </div>
                     
                    </div>
                    
                  </div><!-- Item 1 end -->
                  
                 
              </div><!-- Page slider end--> 
             <br>
              <h4 class="ts-name" style="padding-left: 150px;">Professor. T Bhebhe</h4> 
            
    
            </div><!-- Col end -->
        </div><!-- Content row end -->
    
      </div><!-- Container end -->
      <br><br><br><br><br><br><br><br>
  
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/mann.png" style="max-height: 25rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Dr Hamudiwamwe Mandibaya</h3>
              <p class="ts-designation">Deputy Registrar, Academic</p>
              
              <p class="ts-description"></p>
              <p class="description " onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong><br>
                 hmandibaya@cut.ac.zw/dracademic@cut.ac.zw
                Cell: +263 267 2122203-5 / +263 267 2127213


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/ma.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms Tsitsi Mlilwani</h3>
              <p class="ts-designation">Acting Secretary,Deputy Registrar, Academic’s Office</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong><br>
                tmlilwani@cut.ac.zw<br>
                Cell: Tel: +263 267 2122203-5 / +263 267 2127213


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/mas.png" style="max-height: 16rem"  class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs Jeniffer Masvaure</h3>
              <p class="ts-designation">Examinations Officer</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>jmufunda@cut.ac.zw
                <br>+263 267 2129411
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/chihota.png" style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms Mirillette Chihota</h3>
              <p class="ts-designation">Senior Assistant Registrar,Admissions and Academic Affairs</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                


                <br>nchihota@cut.ac.zw
                <br>+263 267 2129435
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/irene.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms Irene Karindira</h3>
              <p class="ts-designation">Senior Assistant Registrar, Registration and Records Management</p>
              
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>ikarindira@cut.ac.zw
                <br>+263 267 2129438
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr Elias Rashid</h3>
              <p class="ts-designation">Assistant Registrar, Exams</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>rashidi @cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg"  class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. M. Mhonda</h3>
              <p class="ts-designation">Assistant Registrar, School of Agricultural Sciences and Technology</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>mmhonda@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/makiri.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs Makirimani</h3>
              <p class="ts-designation"></p>
              
              <p class="ts-description"></p>
              <p class="description ">
                <strong>Contact Details:</strong><br>
         


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. C. Mudyiwa</h3>
              <p class="ts-designation">Assistant Registrar,School of Natural Sciences and Mathematics</p>
              
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>ctmudyiwa@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/zengeni.png" style="max-height: 16rem"  class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms. C. Zengeni</h3>
              <p class="ts-designation">Assistant Registrar,School of Wildlife and Environmental Sciences</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>czengeni@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg"  class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. M. Musekiwa</h3>
              <p class="ts-designation">Assistant Registrar,School of Art and Design</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>mmusekiwa@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms. S. Chavura</h3>
              <p class="ts-designation">Assistant Registrar,School of Entrepreneurship and Business Sciences</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>schavura@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. S. Chitimbe</h3>
              <p class="ts-designation">Assistant Registrar,Graduate Business School</p>
              
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>schitimbe@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/thabethe.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms. S. Thabethe</h3>
              <p class="ts-designation">Assistant Registrar,School of Hospitality and Tourism</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>sthabethe@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms. C. Jack</h3>
              <p class="ts-designation">Assistant Registrar,Institute of Lifelong Learning and Developmental Studies</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>cjack@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/muchine.png" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms. N. Muchine</h3>
              <p class="ts-designation">Assistant Registrar,School of Health Sciences and Technology</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>nmuchine@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs. E.J. Sewera</h3>
              <p class="ts-designation">Assistant Registrar,Institute of Material Science, Processing and Engineering Technology</p>
              
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>smasasa@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms. J. Rusere</h3>
              <p class="ts-designation">Assistant Registrar,Academy of Teaching and Learning</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>jrusere@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/avatar.jpg"  class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. C. Matienga</h3>
              <p class="ts-designation">Assistant Registrar, Research and Graduate Studies</p>
              <p class="ts-description"></p>
              <p class="description" onmousedown="return false" onselectstart="return false">
                <strong>Contact Details:</strong>
                <br>cmatienga@cut.ac.zw
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/mt.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr Muchangwa</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
                


                
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/mc.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr Johanne.</h3>
              <p class="ts-designation"></p>
              
              <p class="ts-description"></p>
              <p class="description ">
                <strong>Contact Details:</strong><br>
            


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/mv.png"   style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr Chikondo</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong><br>
        


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/sv.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. Banda</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/gt.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs. Nembaware</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
                


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/ko.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Ms Mhlanga </h3>
              <p class="ts-designation"></p>
              
              <p class="ts-description"></p>
              <p class="description ">
                <strong>Contact Details:</strong><br>
       


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/pl.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs. Chikoore</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong><br>
       


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/kl.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs. Mafukidze</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
             
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/let.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. Ncube</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
                
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/lpl.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. Kachikwere</h3>
              <p class="ts-designation"></p>
              
              <p class="ts-description"></p>
              <p class="description ">
                <strong>Contact Details:</strong><br>
         


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/priscilla.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs. Mushababiri</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong><br>
        


            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 4 end -->
  
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/chik.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr. Ngwate</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
               
            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 5 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/kachepa.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mrs Kachepa</h3>
              <p class="ts-designation"></p>
              <p class="ts-description"></p>
              <p class="description">
                <strong>Contact Details:</strong>
                

            </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->


    
  
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
