
<!--/ Header end -->
<div id="banner-area" class="banner-area" style="background-image:url(assets/images/yoo.png)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title"style="font-family: sueone;">How To Apply ?</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Apply</a></li>
                       
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 

<section id="main-container" class="main-container pb-2">


    <div class="container">
      <div class="row text-center">
        <div class="col-12">
           <h3 class="section-sub-title mb-4"  style="    color: #24b0ed;
           font-weight: bold;">APPLICATION <strong  style="    color: #cca351;
          font-weight: bold;">PROCEDURES</strong></h3>
        </div>
     </div>
          <p style="font-size: 15px;text-align: justify;"> Apply online or complete an official application form, which can be obtained from the Admissions Office, upon payment of a non-refundable application fee. No application is valid unless the appropriate application fee has been paid. Application forms can be downloaded from the University website (Get Application Forms). Application fees can be deposited into one of the following University Account: ZB Bank Account Number: 4565 386395 200</p>
  
     
  
          <div class="gap-40"></div>
          <!-- <div class="row text-center">
            <div class="col-12">
               <h3 class="section-sub-title mb-4"  style="    color: #24b0ed;
               font-weight: bold;"> <strong  style="    color: #cca351;
              font-weight: bold;">STAGES</strong></h3>
            </div>
         </div> -->
  
         
      <div class="row">
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
          <a target="_blank" href="https://www.cut.ac.zw/welcome/">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="assets/images/cut.png" alt="service-image">
            </div>
            <div class="d-flex">
              <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/1.png" style="width: 30px;max-height: 30px;" alt="service-icon">
              </div>
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a target="_blank" href="https://www.cut.ac.zw/welcome/" >Click here to visit the University website</a></h3>
                  <p></p>

              </div>
            </div>
          </a>
          </div><!-- Service1 end -->
        </div><!-- Col 1 end -->
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
           <a target="_blank" href="">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="assets/images/cop.png" alt="service-image">
            </div>
            <div class="d-flex">
              <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/2.png" style="width: 30px;max-height: 30px;" alt="service-icon">
              </div>
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a target="_blank" href="https://www.cut.ac.zw/online_application/">Click here to Apply Now!</a></h3>
                 
              </div>
            </div>

           </a>
          </div><!-- Service2 end -->
        </div><!-- Col 2 end -->
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
           <a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/getstarted">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="assets/images/create.png" alt="service-image">
            </div>
            <div class="d-flex">
              <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/3.png" style="width: 30px;max-height: 30px;" alt="service-icon">
              </div>
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/getstarted">Create an account and obtain an applicant number Create Account Now!</a></h3>
                  
              </div>
            </div>

           </a>
          </div><!-- Service3 end -->
        </div><!-- Col 3 end -->
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
             <a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/login">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src="assets/images/app.png" alt="service-image">
              </div>
              <div class="d-flex">
                <div class="ts-service-box-img">
                    <img loading="lazy" src="assets/images/4.png" style="width: 30px;max-height: 30px;" alt="service-icon">
                </div>
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/login">Use applicant number to pay the application fee</a></h3>
                   
                </div>
              </div>

             </a>
          </div><!-- Service1 end -->
        </div><!-- Col 4 end -->
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src="assets/images/pay.png" alt="service-image">
              </div>
              <div class="d-flex">
                <div class="ts-service-box-img">
                    <img loading="lazy" src="assets/images/5.png" style="width: 30px;max-height: 30px;" alt="service-icon">
                </div>
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a target="_blank" href="service-single.html">Application fee can be paid through various payment methods available on the PAYNOW platform or at the University’ Cash Office or through any ZB Bank.</a></h3>
                    
                </div>
              </div>
          </div><!-- Service2 end -->
        </div><!-- Col 5 end -->

        <div class="col-lg-4 col-md-6 mb-5">
            <div class="ts-service-box">
            <a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/login">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src="assets/images/tra.png" alt="service-image">
              </div>
              <div class="d-flex">
                <div class="ts-service-box-img">
                  <img loading="lazy" src="assets/images/6.png" style="width: 30px;max-height: 30px;" alt="service-icon">
                </div>
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/login">After payment has been updated, visit the website, login,complete and submit the application</a></h3>
                    
                </div>
              </div>

            </a>
            </div><!-- Service3 end -->
          </div><!-- Col 6 end -->
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
             <a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/getstarted/track/0">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src="assets/images/track.png" alt="service-image">
              </div>
              <div class="d-flex">
                <div class="ts-service-box-img">
                    <img loading="lazy" src="assets/images/7.png" style="width: 30px;max-height: 30px;" alt="service-icon">
                </div>
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/getstarted/track/0">Track application to know the outcome.</a></h3>
                   
                </div>
              </div>

             </a>
          </div><!-- Service3 end -->
        </div><!-- Col 6 end -->
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->