
<div id="banner-area" class="banner-area" style="background-image:url(assets/images/Z.JPG)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Admission Office</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="admission">Admission</a></li>
                        
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
<section id="main-container" class="main-container">
    <div class="container">
  
      <div class="row">
        <div class="col-lg-8">
          <div class="row text-center">
            <div class="col-12">
               <h3 class="section-sub-title mb-4"  style="    color: #24b0ed;
               font-weight: bold;">The Admission <strong  style="    color: #cca351;
              font-weight: bold;">Office</strong></h3>
            </div>
         </div>
          <p style="font-size: 15px;text-align: justify;">It is the entry point into the University and as such it is an integral unit that ensures fair, transparent and quality students enrolment. It is also the custodian of the University General Academic Regulations (standards). The Office implements the University regulations to achieve the University goals of educating, training and developing the people of this country. .</p>
  
     
  
          <div class="gap-40"></div>
           <!-- <div class="row text-center">
            <div class="col-12">
               <h3 class="section-sub-title mb-4"  style="    color: #24b0ed;
               font-weight: bold;">
THE ADMISSIONS AND ACADEMIC<strong  style="    color: #cca351;
              font-weight: bold;">Affairs Office is responsible for:-</strong></h3>
            </div>
         </div> -->
          
  
          <h3 class="border-title border-left">The Admissions and Academic Affairs Office responsibilities:</h3>
  
          <div class="accordion accordion-group accordion-classic" id="safety-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0" >
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseFour" >
                    1. Consulting Schools/Institutes
                  </button>
                </h2>
              </div>
  
              <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                data-parent="#safety-accordion">
                <div class="card-body"  style="font-size: 13px;text-align: justify;" >
                    Consulting Schools/Institute about specific programme requirements and programmes on offer
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    2. Use approved programme regulations to craft the advertisements
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#safety-accordion">
                <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Use approved programme regulations to craft the advertisements
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    3. Marketing all University programmes, that is, undergraduate and post graduate.
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                data-parent="#safety-accordion">
                <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Marketing all University programmes, that is, undergraduate and post graduate.
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseSix">
                      4. Career guidance-advising
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Career guidance-advising potential students about the expected subjects combinations, cut-off points, normal, special and mature entries .
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Five" aria-expanded="false" aria-controls="collapseSix">
                      5. Preliminary selection-screening unqualified applications
                    </button>
                  </h2>
                </div>
                <div id="Five" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Preliminary selection-screening unqualified applications .
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Six" aria-expanded="false" aria-controls="collapseSix">
                      6. Receiving application forms, data capturing and rollover applicants to departments.
                    </button>
                  </h2>
                </div>
                <div id="Six" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Receiving application forms, data capturing and rollover applicants to departments.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Seven" aria-expanded="false" aria-controls="collapseSix">
                      7. Processing and dispatching acceptance and rejection letters.
                    </button>
                  </h2>
                </div>
                <div id="Seven" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Processing and dispatching acceptance and rejection letters
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Eight" aria-expanded="false" aria-controls="collapseSix">
                      8. Teaching and Learning Downloadable softwares.
                    </button>
                  </h2>
                </div>
                <div id="Eight" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Teaching and Learning Downloadable softwares.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Nine" aria-expanded="false" aria-controls="collapseSix">
                      9. Document Validation
                    </button>
                  </h2>
                </div>
                <div id="Nine" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    The office validates the authenticity of all application documents & Handling of all admission enquiries from applicants
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Ten" aria-expanded="false" aria-controls="collapseSix">
                      10. For liaising with other Institutions of Learning on the Academic Affairs of the University
                    </button>
                  </h2>
                </div>
                <div id="Ten" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    For liaising with other Institutions of Learning on the Academic Affairs of the University
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Eleven" aria-expanded="false" aria-controls="collapseSix">
                      10. Advertising degree programmes.
                    </button>
                  </h2>
                </div>
                <div id="Eleven" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;">
                    The Office is responsible for advertising all undergraduate and post graduate programmes. The Office flights advertisements for every intake in close liaison with Schools/Institute Deans on programmes offered, capacity per programme and resources.
                  </div>
                </div>
              </div>
          </div>
          <div class="gap-40"></div>
          <h3 class="border-title border-left mar-t0">Our Degree Programmes</h3>
          
          <p style="font-size: 15px;text-align: justify;">It is the entry point into the University and as such it is an integral unit that ensures fair, transparent and quality students enrolment. It is also the custodian of the University General Academic Regulations (standards). The Office implements the University regulations to achieve the University goals of educating, training and developing the people of this country. .</p>
          
          <div class="general-btn text-center mt-4">
            <div class="call-to-action-btn">
              <a class="btn btn-dark" target="_blank" href="https://www.cut.ac.zw/welcome/admissions">See Programmes</a>
            </div>
          </div>
          
  
  
        </div><!-- Col end -->

        
  
        <div class="col-lg-4 mt-5 mt-lg-0">
  
          <div class="sidebar sidebar-right">
            <div class="widget recent-posts">
              <h3 class="widget-title">Quick Links</h3>
              <ul class="list-unstyled">
                <li class="d-flex align-items-center">
                  
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a target="_blank" href="https://www.cut.ac.zw/online_application/">Apply Now</a>
                    </h4>
                  </div>
                </li><!-- 1st post end-->
  
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a target="_blank" href="https://elearning.cut.ac.zw/portal/index.php/portal/login">Student Portal</a>
                    </h4>
                  </div>
                </li><!-- 2nd post end-->
  
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/getstarted/track/0">Track Application</a>
                    </h4>
                  </div>
                </li><!-- 3rd post end-->
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a target="_blank" href="https://www.cut.ac.zw/welcome/admissions">Programmes</a>
                    </h4>
                  </div>
                </li><!-- 3rd post end-->
                <div class="input-group card card-body mb-1">
                  <div class="form-outline">
                    <input id="search-input" (input)="getProgram()" type="search" id="form1"   [(ngModel)]="title" class="form-control" />
                    <label class="form-label" for="form1" style="font-size: 13px;text-align: justify;">Search Programmes</label>
                  </div>
                  <button id="search-button" type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>

                  <div *ngFor="let result of data" (click)="getProgramDetail(result)" style="cursor: pointer;">
                    <div class="card card-body">
                      {{result.title}}
                    </div>

                  </div>
                </div>
  
              </ul>
  
            </div><!-- Recent post end -->
          </div><!-- Sidebar end -->
  
        </div><!-- Col end -->
  
      </div><!-- Content row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
  