
<section id="main-container" class="main-container">
    <div class="container">
       <div class="row text-center">
          <div class="col-12">
             <h3 class="section-sub-title mb-4"  style="    color: #24b0ed;
             font-weight: bold;">Registry <strong  style="    color: #cca351;
            font-weight: bold;">Downloads</strong></h3>
          </div>
       </div>
       <!--/ Title row end -->
 
       <div class="row">
          <div class="col-lg-4 col-md-6">
             <div class="quote-item quote-border mt-5">
               
                <a target="_blank" href="https://www.cut.ac.zw/welcome/assets/files/forms/undergrad_applicationForm.pdf">
                  <div class="quote-text-border">
                     Undergraduate Application Form
                  </div>
                  <div class="quote-item-footer">
                     <img loading="lazy" class="testimonial-thumb" src="assets/images/download.png" alt="testimonial">
                     
                  </div>
              
              </a>
 
                
             </div><!-- Quote item end -->
          </div><!-- End col md 4 -->
 
          <div class="col-lg-4 col-md-6">
             <div class="quote-item quote-border mt-5">
               <a target="_blank" href="https://www.cut.ac.zw/welcome/assets/files/forms/postgrad_applicationForm.pdf">
                  <div class="quote-text-border">
                     Postgraduate Application Form
                  </div>
                  <div class="quote-item-footer">
                     <img loading="lazy" class="testimonial-thumb" src="assets/images/download.png" alt="testimonial">
                     
                  </div>
              
              </a>
             </div><!-- Quote item end -->
          </div><!-- End col md 4 -->
 
          <div class="col-lg-4 col-md-6">
             <div class="quote-item quote-border mt-5">
               <a target="_blank" href="https://www.cut.ac.zw/welcome/assets/files/forms/dphil_applicationForm.pdf">
                  <div class="quote-text-border">
                     DPHIL Application Form
                  </div>
                  <div class="quote-item-footer">
                     <img loading="lazy" class="testimonial-thumb" src="assets/images/download.png" alt="testimonial">
                     
                  </div>
              
              </a>
             </div><!-- Quote item end -->
          </div><!-- End col md 4 -->
 
       </div><!-- Content row end -->

       <div class="row">
        <div class="col-lg-4 col-md-6">
           <div class="quote-item quote-border mt-5">
            <a target="_blank" href="https://www.cut.ac.zw/welcome/assets/files/forms/DSM%20APPLICATION%20FORM.pdf">
               <div class="quote-text-border">
                  Doctorate Application Form
               </div>
               <div class="quote-item-footer">
                  <img loading="lazy" class="testimonial-thumb" src="assets/images/download.png" alt="testimonial">
                  
               </div>
           
           </a>
           </div><!-- Quote item end -->
        </div><!-- End col md 4 -->

        <div class="col-lg-4 col-md-6">
           <div class="quote-item quote-border mt-5">
            <a target="_blank" href="https://www.cut.ac.zw/welcome/assets/files/forms/mphil_applicationForm.pdf">
               <div class="quote-text-border">
                  MPHIL Application Form
               </div>
               <div class="quote-item-footer">
                  <img loading="lazy" class="testimonial-thumb" src="assets/images/download.png" alt="testimonial">
                  
               </div>
           
           </a>
           </div><!-- Quote item end -->
        </div><!-- End col md 4 -->

     

     </div>
 
    </div><!-- Container end -->
 </section><!-- Main container end -->
 